{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('/static/blog_pic6.jpg'); filter: blur(0px); background-size: cover; background-repeat: no-repeat;">

<br><br>
    
        <h1 style="text-align: center;font-size: 25px;margin-left: 480px;"><b><b>Write your blog here</b></b></h1>

    <main class="container mt-4">
        <form action="/blog" method="post" style="width: 600px; margin: 0 auto;  padding: 5px;margin-left: 500px;">
            <div class="form-group">
                <label for="title" style="text-align: left;font-size: 18px;"><b><b>Blog Title:</b></b></label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="author" style="text-align: left;font-size: 18px;"><b><b>Author:</b></b></label>
                <input type="text" class="form-control" id="author" name="author" required>
            </div>

            <div class="form-group">
                <label for="content" style="text-align: left;font-size: 18px;"><b><b>Blog Content:</b></b></label>
                <textarea class="form-control" id="content" name="content" rows="10" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Publish Blog</button>
        </form>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock content %}