{% extends "base.html" %}
{% block content %}

<body style="background-image: url('/static/blog_pic6.jpg'); filter: blur(0px); background-size: cover; background-repeat: no-repeat;">
    <br><br><br><br>
    <h2 style="text-align: center;font-size: 25px;margin-left: 400px;"><b><b>Our Story</b></b></h2>
    <p style="text-align: center;font-size: 30px;margin-left: 400px;"><b>Welcome to our food blog! We're all about sharing mouthwatering recipes and culinary adventures, fueled by our love for cooking and a passion to inspire your culinary exploration.</b></p>
<br>
    <h2 style="text-align: center;font-size: 25px;margin-left: 400px;"><b><b>Our Mission</b></b></h2>
    <p style="text-align: center;font-size: 30px;margin-left: 400px;"><b>Our mission: Delicious recipes, helpful tips, and food articles for culinary joy, from novices to experts. Your go-to for all things food.</b></p>
</body>

{% endblock content %}